// Home wrapper. 
// Waits while spinner is running. Once spinner completed, then home page is scaled up
// to 100%.  
@keyframes wrapper{
    0% {
        transform: scale(0);
    }            
    100% {
        transform: scale(1);               
    }
}

.wrapper{
    position:absolute;
    top:0;
    width: 100%;
    min-width: $min-width;
// Wrapper is delayed while spinner running (Check variables partial in /utils)
    animation: wrapper $wrapper-dur calc($loading-spinner-dur + $spinner-complete-dur) linear both;    
} 