// Home page restaurant section
.restaurant{
    $arg: cl-fs-dft-nw;
    @include flxbox($flex-map, $arg);
    background-color: rgba($color-black , nth($blck-opct, 2));
    padding: 60px 20px;  
    width:100%;   
    &__title{
        width: 98%;
        margin: 0 auto;
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 1em;
    }
}
.restaurant-menu{
    $arg: cl-fs-dft-nw;
    @include flxbox($flex-map, $arg);
    @media screen and (min-width: map-get($breakpoints, tablet)){            
        width: 100%;
        $arg: rw-sb-cnt-w;
        @include flxbox($flex-map, $arg);      
    }        
}