// Header design roughly the same with home page.
// But here, it displays a return button on the left allowing to go back 
// to main home page.
// Spinner does not run on the menu detail as other animation
// (dish appearance) occur on detail menu
.header{
    width: 100%;
    position: relative;
    height: 80px;
    &__rtn{
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 1.5em;
        transform: translate(0% , -50%);
        width: 60px;
        border: none;
        background-color: $color-white;
        color: $color-black;
        cursor: pointer;        
    }
    &__logo{
        display: inline-block;    
        position:absolute;
        top: 50%;
        left: 50%;   
        transform: translate(-50% , -50%);                                   
    }            
}