// Button on the bottom part of the menu detail page.
// Change aspect when mouse passes over
&__btn{
    width: 100%;
    & button{
        display: block;
        width: 50%;
        max-width: 25em;        
        background-image: linear-gradient(to bottom, rgba($color-secondary, 1), rgba($color-primary, 1));
        color: $color-white; 
        font-size: large;
        padding: 1.25em;
        border:none;
        border-radius: 2em;
        margin-left: auto;
        margin-right: auto;                         
        &:hover{
            cursor:pointer;
            background-image: linear-gradient(rgba($color-secondary,0.7), rgba($color-primary, 0.7));        
        }        
    } 
}